--index-url https://pypi.python.org/simple/

-e git+https://github.com/maxcountryman/flask-login.git#egg=Flask-Login
-e git+https://github.com/PyBossa/rq-dashboard.git#egg=rq-dashboard
-e git+https://github.com/amirziai/flatten.git#egg=flatten_json
-e .
